body {background: #ececec;}
h1, h2, h3, h4, h5 {
  border-bottom: 1px solid #ccc;
  color: #3F51B5;
  padding-bottom: 8px
}
.container {
  margin: auto;
  width: 350px;
  text-align: center;
}
#calendar {
  background: white;
  display: flex; 
  justify-content: center; 
  text-align: center;
  border: solid;
  width: 75%;
}

#month {
  background: #b3433c;
  height:50px;
}

#day {
  font-size: 5rem;
}

#year {
  font-size: 1.5rem;
}

img {
  width: 100%;
}
